
.product_section {
    width: 100%;
    float: left;
    padding-bottom: 200px;
    margin-top: 6rem;
    clear: both;
}

.product_taital {
    width: 100%;
    float: left;
    font-size: 40px;
    color: #363636;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
}

.product_text {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #363636;
    margin: 0px;
    text-align: center;
    padding-bottom: 50px;
}

/* Product gallery section */

.product-gallery {
    width: 70%;
    text-align: center;
    transform: translateX(20%);
}

.row-items {
    display: flex;
    justify-content: space-around;
}